.cart {
	min-width: 400px;
	border-left: 1px solid #cfcfcf;
	margin-left: auto;
}

.itemsContainer {
	padding: 40px;
	border-bottom: 1px solid #cfcfcf;
}

.title {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 30px;
}

.totalContainer {
	padding: 40px;
}

.costRow {
	display: flex;
	line-height: 35px;
}

.cost {
	margin-left: auto;
}

.totalRow {
	font-weight: bold;
	font-size: 18px;
}

@media screen and (max-width: 1000px) {
	.cart {
		display: none;
	}
}
