.cartItem {
	height: 100px;
	display: flex;
}

.imgWrapper {
	min-width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoWrapper {
	padding-left: 10px;
	width: 190px;
}

.quantity {
	width: 40px;
	text-align: center;
}

.price {
	margin-left: 25px;
}

.quantityContainer {
	padding-top: 15px;
	display: flex;
	align-items: center;
}

.minus {
	cursor: pointer;
}

.plus {
	cursor: pointer;
}

.close {
	cursor: pointer;
	align-self: start;
	height: 20px;
	margin-left: auto;
}

.close:hover svg path {
	fill: black;
}

@media screen and (max-width: 1000px) {
	.infoWrapper {
		width: auto;
	}
}

@media screen and (max-width: 540px) {
	.infoWrapper {
		width: 190px;
	}
}
