:root {
	--color-primary: #3366ff;
	--header-size: 80px;
}

@media screen and (max-width: 1000px) {
	.body-noscroll-mobile {
		overflow: hidden;
	}
}

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	box-sizing: border-box;
	outline: 0;
	padding: 0;
	margin: 0;
}

svg {
	display: block;
}

body {
	font: normal 14px "Roboto", Arial, sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;

	color: inherit;
	font: inherit;

	line-height: normal;

	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	-webkit-appearance: none;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}
