.header {
	position: fixed;
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
	height: var(--header-size);
	border-bottom: 1px solid #cfcfcf;
	padding: 0 30px;
	justify-content: space-between;
	z-index: 1;
}

.cartIcon {
	position: relative;
	cursor: pointer;
}

.cartQuantity {
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 10px;
	color: white;
	width: 13px;
	height: 13px;
	text-align: center;
	line-height: 13px;
	border-radius: 100%;
	background-color: var(--color-primary);
	display: block;
}
